@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
  font-family: "Satoshi-Medium", Arial;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/public/fonts/Satoshi-Bold.otf");
}
@font-face {
  font-family: "Satoshi-SemiBold";
  src: url("/public/fonts/Satoshi-SemiBold.otf");
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("/public/fonts/Satoshi-Light.otf");
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("/public/fonts/Satoshi-Black.otf");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/public/fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("/public/fonts/Satoshi-Regular.otf");
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
